in:
	form:
		header: Member Area
		headerSmall: Login to your account.
		buttonSignIn: Sing In
		inputEmail: Enter e-mail
		inputPassword: Password
		forgotPassword: Forgot Your Password?
		error:
			fillEmailInCorrectFormat: Fill E-mail in correct format.
			emailNotFilled: 'Please, fill your e-mail.'
			passwordNotFilled: 'Please, fill your password.'
			invalidCredentials: Entered credentials not correct.
			forgetPassword: 'Did you <a href="%s">forget the password</a>'

inOtp:
	form:
		header: One Time Password verification
		headerSmall: Enter Your OTP token
		inputToken: OTP token
		buttonSignIn: Verify Token
		error:
			invalidToken: Invalid OTP token
			badTokenFormat: OTP token must be 6 digits
			tokenNotFilled: 'Please, enter Your OTP token'

forgotPassword:
	form:
		header: Password reset
		headerSmall: For password reset enter your e-mail. We will send you reset link.
		inputEmail: Enter e-mail
		buttonResetPassword: Reset password
		signIn: Sign in
		error:
			fillEmailInCorrectFormat: Fill E-mail in correct format.
			emailNotFilled: 'Please, fill your e-mail.'

setupPassword:
	form:
		password: Password
		passwordRe: Password again
		buttonSetPassword: Set password
