// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_utilities.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_normalize.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_type.scss';
// endbower

@import 'common/variables';
//@import 'common/fonts';
//@import 'common/mixins';
@import 'sprite';

$black: lighten(#000, 25);

h2 {
	border-radius: 10px;
	color: $black;
	padding: 20px;
}

.icon-home {
	@include sprite($icon-default);
}

.test {
	background: transparent url('/assets/test.jpg') no-repeat 0 0;
}