// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_utilities.scss';
// endbower

@import 'common/variables';
//@import 'common/fonts';
//@import 'common/mixins';

@import 'sprite';

$black: #000000;
$white: #FFF;

h2 {
  border: 1px solid $black;
  border-radius: 10px;
  color: #fff;
  padding: 20px;
}
