

#session.save_path: %tempDir%

console:
	disabled: true
	application: false

extensions:
	WSE: Legerete\Websocket\DI\WebSocketServerExtension

WSE:
	port: 8006

services:
	wsApp:
		class: App\WebSocket\App