parameters:
	devel: true
	sentry:
		dsn: #DSN key generated in Sentry, depends on environment
		settings:
			trace: true

	database:
		host: mysql
		port: 3306
		user: porta-invest-crm
		password: 0f0y4D6&&J8@
		database: porta-invest-crm
		debug: on
		metadata:
			App: %appDir%
