#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	devel: true
	sentry:
		dsn: ''
		settings:
			trace: true
	smtp:
		host:
		username:
		password:
		secure: 'ssl'
		port: 465

	database:
		host: 127.0.0.1
		port: 3308
		user: root
		password: 08802e9a2ade49e40a55ff00faec
		database: porta-invest-crm
		debug: on
		metadata:
			App: %appDir%

latte:
	macros:
		- App\Utils\Latte\Macros

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	translation: Kdyby\Translation\DI\TranslationExtension
#	monolog: App\Utils\Monolog\DI\MonologExtension
	mailing: Ublaboo\Mailing\DI\MailingExtension
	imageStorage: Ublaboo\ImageStorage\DI\ImageStorageExtension
	core: Legerete\DI\CoreExtension
	LeSecurity: Legerete\Security\DI\SecurityExtension
	LeSpa: Legerete\Spa\DI\SpaExtension
	LeSpaAcl: Legerete\Spa\KendoAcl\DI\SpaAclExtension
	LeSignIn: Legerete\UserSignInModule\DI\SignInExtension
	LeSignInOtp: Legerete\UserSignInOtp\DI\SignInOtpExtension
	LeSpaScheduler: Legerete\Spa\KendoScheduler\DI\SpaSchedulerExtension
	LeUser: Legerete\User\DI\UserExtension
	LeSpaUser: Legerete\Spa\KendoUser\DI\SpaUserExtension
	LeIm: Legerete\Spa\KendoIm\DI\SpaImExtension

imageStorage:
	data_path: %appDir%/../www/data/images
	data_dir: data/images
	noimage_identifier : noimage/03/no-image.png
	quality: 100

core:
	pageTitle: 'Porta Invest s.r.o. - CRM'
	doctrine:
		host: %database.host%
		port: %database.port%
		user: %database.user%
		password: %database.password%
		dbname: %database.database%
		charset: UTF8
		driver: pdo_mysql
		#entityDir: '%appDir%/entities'
		#proxyDir: '%tempDir%/proxies'
		#proxyNamespace: 'App\Entities\Proxies'
		autoGenerateProxyClasses: true
		debug: %database.debug%

LeSignIn:
	enableOtp: TRUE
	allowForgotPassword: TRUE
	loginAfterAuthorization: off
	loginRedirectPage: ':SPA:default'
	logoutRedirectPage: ':LeSignIn:UserSignIn:Sign:in'

LeSecurity:
	roles:
		- guest
		- [client, guest]
		- [admin, client]
	resources:
		- Public
		- ['User:Sign', Public]
	privileges:
		allow:
			- [guest, 'User:Sign']
		deny:

translation:
	default: en

#monolog:
#	handlers:
#		raven: Monolog\Handler\RavenHandler(Raven_Client(%sentry.dsn%, %sentry.settings%))
#	name: TODO
#	registerFallback: true
#	processors:
#		- Monolog\Processor\MemoryPeakUsageProcessor
#		- Kdyby\Monolog\Processor\PriorityProcessor

mailing:
	do: log # log|send|both
	mails:
		defaultSender: info@legerete.cz

mail:
	smtp: true
	host: %smtp.host%
	username: %smtp.username%
	password: %smtp.password%
	secure: 'ssl'
	port: %smtp.port%

doctrine:
	default:
		host: %database.host%
		port: %database.port%
		user: %database.user%
		password: %database.password%
		dbname: %database.database%
		charset: UTF8
		driver: pdo_mysql
		#entityDir: '%appDir%/entities'
		#proxyDir: '%tempDir%/proxies'
		#proxyNamespace: 'App\Entities\Proxies'
		autoGenerateProxyClasses: true
		debug: %database.debug%
		metadata:
			App: %appDir%

services:
	router: App\Router\RouterFactory::createRouter

	# Kdyby\Console commands
	#
	-
		class: App\Console\Command\UpdateAclResources
		tags: [kdyby.console.command]