#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:
	devel: true
	sentry:
		dsn: ''
		settings:
			trace: true
	smtp:
		host:
		username:
		password:
		secure: 'ssl'
		port: 465

latte:
	macros:
		- App\Utils\Latte\Macros

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	translation: Kdyby\Translation\DI\TranslationExtension
#	monolog: App\Utils\Monolog\DI\MonologExtension
	mailing: Ublaboo\Mailing\DI\MailingExtension
	core: Legerete\DI\CoreExtension
	LeSecurity: Legerete\Security\DI\SecurityExtension
	signIn: Legerete\UserModule\DI\SignInExtension

core:
	pageTitle: 'Porta Invest s.r.o. - CRM'

signIn:
	allowForgotPassword: TRUE

LeSecurity:
	roles:
		- guest
		- [client, guest]
		- [admin, client]
	resources:
		- Public
		- ['User:Sign', Public]
	privileges:
		allow:
			- [guest, 'User:Sign']
		deny:

translation:
	default: en

#monolog:
#	handlers:
#		raven: Monolog\Handler\RavenHandler(Raven_Client(%sentry.dsn%, %sentry.settings%))
#	name: TODO
#	registerFallback: true
#	processors:
#		- Monolog\Processor\MemoryPeakUsageProcessor
#		- Kdyby\Monolog\Processor\PriorityProcessor

mailing:
	do: both # log|send|both
	mails:
		defaultSender: info@legerete.cz

mail:
	smtp: true
	host: %smtp.host%
	username: %smtp.username%
	password: %smtp.password%
	secure: 'ssl'
	port: %smtp.port%

doctrine:
	default:
		host:
		user:
		password:
		dbname:
		charset: UTF8
		driver: pdo_mysql
		#entityDir: '%appDir%/entities'
		#proxyDir: '%tempDir%/proxies'
		#proxyNamespace: 'App\Entities\Proxies'
		autoGenerateProxyClasses: true
		debug: no
		metadata:
			App: %appDir%

services:
	router: App\Router\RouterFactory::createRouter