parameters:
	devel: true
	sentry:
		dsn: #DSN key generated in Sentry, depends on environment
		settings:
			trace: true

doctrine:
	default:
		host:
		user:
		password:
		dbname:
		charset: UTF8
		driver: pdo_mysql
		autoGenerateProxyClasses: true
