{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html n:class="isset($pageClass) ? $pageClass">
<head>
	<meta charset="utf-8">
	<title>{ifset title}{include title|stripHtml}{ifset $pageTitle} | {/ifset}{/ifset}{ifset $pageTitle}{$pageTitle}{/ifset}</title>

	<link rel="stylesheet" href="{$basePath}/assets/css/all.min.css{resourceVersion}">
	<meta name="viewport" content="width=device-width">
	{block head}{/block}
</head>

<body>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

{include content}

{block scripts}
	<script src="{$basePath}/assets/js/all.min.js{resourceVersion}"></script>
{/block}
</body>
</html>
