{*
 * @var $article
 *}
{block content}
{snippet form}
	<h3>Obnovení hesla</h3>
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-success not-hide">
				Vážený zákazníku, na Váši e-mailovou adresu jsme zaslali odkaz na kterém si můžete zvolit nové heslo.
			</div>
		</div>
	</div>
{/snippet}