{*
 * @var $article
 *}
{block content}
<h3>Dokončení registrace</h3>
<div class="row">
	<div class="col-sm-12">
		<div class="alert alert-danger" role="alert">
			Vážený zákazníku, <br>
			&nbsp;&nbsp;<b>Vaše registrace byla dokončena</b>, ale bohužel se nám <b>nepodařilo odeslat potvrzovací e-mail</b>.
			<br>
			<br>
			Pro potvrzení e-mailové adresy nás, prosím, kontaktujte ze zadané e-mailové adresy s předmětem "<b>Potvrzení e-mailu</b>" na email <b>info@skisportmelnik.cz</b>.<br>
			O potvrzení adresy Vás budeme kontaktovat.
			<br>
			<br>
			Děkujeme
		</div>
	</div>
</div>
