{*
 * @var
 *}
{block content}
<div id="forgot-password-form-container">
	{snippet form}
		<form n:name="forgotPasswordForm" action="">
			<div class="content-box modal-content">
				<h3 class="content-box-header content-box-header-alt bg-default">
				<span class="header-wrapper">
					{_sign.forgotPassword.form.header}
					<small>{_sign.forgotPassword.form.headerSmall}</small>
				</span>
				</h3>
				<div class="content-box-wrapper">
					<div n:snippet="flashes">
						<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}" role="alert">
							<i class="glyphicon glyphicon-alert"></i> {$flash->message|noescape}
						</div>
					</div>
					{foreach $form->errors as $error}
						<div class="alert alert-danger" role="alert">
							<i class="glyphicon glyphicon-alert"></i> {$error|noescape}
						</div><br>
					{/foreach}
					<div class="form-group">
						<div class="input-group">
							<input type="email" class="form-control" n:name="login" placeholder="{_sign.forgotPassword.form.inputEmail}">
							<span class="input-group-addon bg-blue">
							<i class="glyph-icon icon-envelope-o"></i>
						</span>
						</div>
					</div>
					<div class="form-group">
						<a href="{plink :Legerete:User:Sign:in}" id="sign-in-link" data-show="sign-in-form-container" data-hide="forgot-password-form-container" title="Sign in">{_sign.forgotPassword.form.signIn}</a>
					</div>
					<button n:name="submit" class="btn btn-success btn-block">{_sign.forgotPassword.form.buttonResetPassword}</button>
				</div>
			</div>
		</form>
	{/snippet}
</div>