{*
 * @author Petr Besir Horáček <sirbesir@gmail.com>
 *}
{block content}
<div id="set-up-password-form-container">
	<form n:name="setUpPasswordForm" class="ajax">
		<div class="content-box modal-content">
			<h3 class="content-box-header content-box-header-alt bg-default">
				<span class="header-wrapper">
					{_sign.setupPassword.form.header}
					<small>{_sign.setupPassword.form.headerSmall}</small>
				</span>
			</h3>
			<div class="content-box-wrapper">
				<div n:snippet="flashes">
					<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}" role="alert">
						<i class="glyphicon glyphicon-alert"></i> {$flash->message|noescape}
					</div>
				</div>
				<div n:foreach="$form->errors as $error" class="alert alert-danger" role="alert">
					<i class="glyphicon glyphicon-alert"></i> {$error|noescape}
				</div>
				<div class="form-group">
					<div class="input-group">
						<input type="password" class="form-control" n:name="password" placeholder="{_sign.setupPassword.form.password}">
						<span class="input-group-addon bg-blue">
							<i class="glyph-icon icon-unlock-alt"></i>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input type="password" class="form-control" n:name="passwordRe" placeholder="{_sign.setupPassword.form.passwordRe}">
						<span class="input-group-addon bg-blue">
							<i class="glyph-icon icon-unlock-alt"></i>
						</span>
					</div>
				</div>
				<button n:name="submit" class="btn btn-success btn-block">{_sign.setupPassword.form.buttonSetPassword}</button>
			</div>
		</div>
	</form>
</div>
