{*
 * @author Petr Besir Horáček <sirbesir@gmail.com>
 *}
{block content}
<div id="sign-in-form-container">
	<form n:name="signInForm">
		<div class="content-box modal-content">
			<h3 class="content-box-header content-box-header-alt bg-default">
				<span class="header-wrapper">
					{_sign.in.form.header}
					<small>{_sign.in.form.headerSmall}</small>
				</span>
			</h3>
			<div class="content-box-wrapper">
				<div n:snippet="flashes">
					<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}" role="alert">
						<i class="glyphicon glyphicon-alert"></i> {$flash->message|noescape}
					</div>
				</div>
				{foreach $form->errors as $error}
					<div class="alert alert-danger" role="alert">
						<i class="glyphicon glyphicon-alert"></i> {$error|noescape}
					</div><br>
				{/foreach}
				<div class="form-group">
					<div class="input-group">
						<input type="email" class="form-control" n:name="login" placeholder="{_sign.in.form.inputEmail}">
						<span class="input-group-addon bg-blue">
							<i class="glyph-icon icon-envelope-o"></i>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<input type="password" class="form-control" n:name="password" placeholder="{_sign.in.form.inputPassword}">
						<span class="input-group-addon bg-blue">
							<i class="glyph-icon icon-unlock-alt"></i>
						</span>
					</div>
				</div>
				<div class="form-group">
					<a n:if="$allowForgotPassword" id="forgot-password-link" data-show="forgot-password-form-container" data-hide="sign-in-form-container" href="{plink :Legerete:User:Sign:ForgotPassword}" title="Recover password">{_sign.in.form.forgotPassword}</a>
				</div>
				<button n:name="submit" class="btn btn-success btn-block">{_sign.in.form.buttonSignIn}</button>
			</div>
		</div>
	</form>
</div>
