services:
	sessionProvider:
		class: Bazo\Ratchet\NetteSessionProvider
		autowired: false
	webSocketServer:
		class: Ratchet\WebSocket\WsServer
		autowired: false
	httpServer:
		class: Ratchet\Http\HttpServer
		autowired: false
	ioServer: Ratchet\Server\IoServer::factory

	- Legerete\WebSocket\Message\ReceivedMessageFactory
