services:
	sessionProvider:
		class: App\Websocket\NetteSessionProvider
		autowired: false
	webSocketServer:
		class: Ratchet\WebSocket\WsServer
		autowired: false
	httpServer:
		class: Ratchet\Http\HttpServer
		autowired: false
	ioServer: Ratchet\Server\IoServer::factory
