	<div class="im-pagelayout-cover logo">
	</div>
	<div class="im-pagelayout-cover document-name">
		INFORMAČNÍ MEMORANDUM
	</div>
	<div class="im-pagelayout-cover offer-number">
		<span>NABÍDKA Č.</span> <span contenteditable="true">N 12345</span>
	</div>
	<div class="im-pagelayout-cover offer-address-street" contenteditable="true">
		Manesova 1517/67
	</div>
	<div class="im-pagelayout-cover offer-address" contenteditable="true">
		120 00 Praha 2 - vinohrady
	</div>