<script id="spa-view-acl" type="text/x-kendo-template"
		data-source-create="{plink LeSpaAcl:Acl:Acl:}?do=create"
		data-source-read="{plink LeSpaAcl:Acl:Acl:}?do=read"
		data-source-update="{plink LeSpaAcl:Acl:Acl:}?do=update"
		data-source-destroy="{plink LeSpaAcl:Acl:Acl:}?do=destroy"
>
	<div class="content-box">
		<h3 class="content-box-header">{_acl.h1}
		</h3>
		<div id="acl-roles-grid" data-role="grid"
			data-toolbar="[{
						name: 'create',
						text: '{_acl.role.create}',
						template: '<div class=\'btn btn-success btn-xs k-grid-add\'><span class=\'glyph-icon icon-plus\'></span> {_acl.role.create}</div>'
					}]"
			data-columns="[
				{
					field: 'update',
					width: 70,
					title: '{_acl.role.save}',
					template: '<div data-bind=\'visible: edited\' data-role=\'update\' class=\'btn btn-success btn-xs k-grid-update\'><span class=\'glyph-icon icon-save\'>  {_acl.role.save}</div>',
				},
				{ field: 'name', title: '{_acl.role.name}', template: '#=name#'},
				{ field: 'title', title: '{_acl.role.title}', template: '#=title#'},
				{ field: 'parents', editor: SPA.panelTypes['acl'].parentRolesEditor, title: '{_acl.role.parentRoles}', template: '#=SPA.panelTypes[\'acl\'].generateRolesTemplate(parents)#'}
			]"
			data-editable="true"
			data-bind="source: roles, events: { dataBound: gridDataBound, detailInit: detailInit, detailExpand: detailExpand, change: gridDataChanged, edit: edit}"
			data-detail-template="spa-view-acl-role-detail"
		>

		</div>
	</div>
</script>

<script id="spa-view-acl-role-detail" type="text/x-kendo-template" data-resources="{$allResourcesJson}">
	<table class="acl-table">
		<thead>
			<tr>
				<th>{_acl.resource}</th>
				{foreach $allPrivileges as $privilege}
					<th>{_acl.$privilege}</th>
				{/foreach}
			</tr>
		</thead>
		<tbody>

		{foreach $resources as $resource => $privileges}
		<tr>
			<td><strong>{_$resource}</strong></td>
			{foreach $allPrivileges as $privilege}
				{if isset($resources[$resource][$privilege])}
					<td>
						<input class="custom-checkbox" data-resource="{$resource|replace:':',''}" data-privilege="{$privilege}" type="checkbox" name="{$resource|replace:':',''}.{$privilege}" value="1" data-bind="checked: Acl.{$resource|replace:':',''}.{$privilege}, events: { change: onChange}">
					</td>
				{else}
					<td>
					</td>
				{/if}
			{/foreach}
		</tr>
		{/foreach}
		</tbody>
	</table>
</script>
