{*
 * @var $article
 *}
{block content}
{snippet form}
	<div class="row">
		<div class="col-sm-12">
			<div class="alert alert-success not-hide" role="alert">
				Vaše heslo bylo obnoveno, nyní se můžete <a href="{plink ':Public:Users:Sign:in'}">přihlásit</a>.
			</div>
		</div>
	</div>
{/snippet}
