// Colors
$color-danger: #F44336;
$color-active: #e91e63;
$color-focus: #3da6ff;
$color-hover: #FAF9FA;
$color-border: #CCCCCC;
$color-divider: rgba(158, 173, 195, 0.16);
$color-text-default: #858598;
$color-text-hover: #000;
$color-success: #4CAF50;
$color-success-darken: darken($color-success, 10%);
$color-bg-primary: #FFFFFF;
$color-overlay-default: #000000;
$color-widgets-bg-secondary: #f5f5f5;

// Buttons
$color-button-text-default: #555a60;
$color-button-text-light: #FFFFFF;
$color-button-danger-bg: $color-danger;
$color-button-danger-border: darken($color-button-danger-bg, 10%);
$color-button-danger-color: $color-button-text-light;

$color-input-border: #dfe8f1;

$resource-version: 1
