services:
	SignPresenter: Legerete\UserSignInModule\Presenters\SignPresenter
	- Legerete\UserSignInModule\Components\ChooseNewPasswordFactory
	- Legerete\UserSignInModule\Components\ForgotPasswordFactory
	- Legerete\UserSignInModule\Components\SignIn\SignInFactory