{* This is the welcome page, you can delete it *}

{block content}
	<a n:href=":Legerete:User:Sign:in">Sign In</a>
{/block}

{block scripts}
{include parent}
{/block}


{block head}
	<style>
		#loading .svg-icon-loader { position: absolute;top: 50%;left: 50%;margin: -50px 0 0 -50px;}

		html,body {
			height: 100%;
			background: #fff;
			overflow: hidden;
		}
	</style>
{/block}
