services:
	imModelService: Legerete\Spa\KendoIm\Model\Service\ImModelService
	imTemplate: Legerete\Spa\KendoIm\Components\ImTemplateControlFactory
	imPresenter: Legerete\Spa\KendoIm\ImModule\Presenters\ImPresenter
